--extra-index-url https://download.pytorch.org/whl/cu130
sqlalchemy
uvicorn[standard]
fastapi
asyncpg
deepface
opencv-python
numpy
python-dotenv
pydantic
passlib
pyjwt
python-multipart
ultralytics
apscheduler
albumentationsx
tf-keras
bcrypt==4.3.0